<div class="mt-4 ">
   <form method="POST" action="">
  <div class="mb-3">
    <label for="search-input" class="form-label">Tìm Kiếm</label>
    <input type="search" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <select name="gender" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <option value="">-- chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>

  </div>
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>
